/* 
  Data description section
*/

.data-section {
  margin: 4rem 0 8rem 0;
}

.nyc-stats-heading {
  text-align: center;
  width: 50%;
  margin: 0 auto 4rem auto;
}
.nyc-stats-heading h1 {
  color: red;
  font-size: 6vw;
  text-shadow: 1px 1px 1px black;
}

.nyc-stats-heading p {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nyc-stats-charts {
  display: flex;
  padding: 3rem;
  width: 100%;
  align-items: center;
}

.food-insecurity-chart {
  display: block;
  width: 45%;
  height: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 10px grey;
}

.sufficient-standards-chart {
  display: inline-block;
  margin: 2rem;
  width: 55%;
  height: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 10px grey;
}

@media (max-width: 900px) {
  .nyc-stats-charts {
    flex-direction: column;
    padding: 0;
  }
  .data-section {
    margin: 4rem 0 4rem 0;
  }
}
